[Unit]
Description=zita-j2n.service
Requires=jackd.service
After=jackd.service

[Service]
Type=simple
ExecStartPre=/usr/bin/jack_wait -w
ExecStart=/usr/bin/zita-j2n 224.1.1.1 8001 enp9s0

# [Install]
# RequiredBy=ipaudio.target connect-zita-j2n.service
