[Unit]
Description=connect-zita-n2j.service
Requires=zita-n2j.service jackd.service
After=zita-n2j.service jackd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/wait_zita
ExecStart=/usr/bin/jack_connect zita-n2j:out_1 system:playback_1
ExecStart=/usr/bin/jack_connect zita-n2j:out_2 system:playback_2
ExecStop=/usr/bin/jack_disconnect zita-n2j:out_1 system:playback_1
ExecStop=/usr/bin/jack_disconnect zita-n2j:out_2 system:playback_2

# [Install]
# RequiredBy=ipaudio-sink.target
